# App
NODE_ENV=LOCAL
VERSION=1
PORT=3000
CORS_ORIGINS=

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=app_service
DB_PASSWORD=
DB_NAME=financial_app
DB_SSL=false

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
